<mat-accordion multi="true" *ngIf="storedPosts.length > 0">
  <mat-expansion-panel *ngFor="let post of storedPosts">
    <mat-expansion-panel-header>
      <ng-container *ngIf="!post.isEditing; else editTitle">
        <p>{{ post.title }}</p>
      </ng-container>
      <ng-template #editTitle>
        <mat-form-field class="full-width no-background">
          <input matInput [(ngModel)]="post.title" placeholder="Title">
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel-header>

    <div *ngIf="!post.isEditing; else editContent" class="panel-content">
      <p>{{ post.content }}</p>
      <mat-card-actions class="actions">
        <button mat-button color="primary" (click)="onEdit(post)">EDIT</button>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-card-actions>
    </div>
    <ng-template #editContent>
      <div class="edit-container">
        <mat-form-field class="full-width no-background">
          <textarea matInput [(ngModel)]="post.content" rows="4" placeholder="Content" style="resize: none;"></textarea>
        </mat-form-field>
        <mat-card-actions class="actions">
          <button mat-button color="primary" (click)="onSave(post)">SAVE</button>
          <button mat-button (click)="onCancel(post)">CANCEL</button>
        </mat-card-actions>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text" *ngIf="storedPosts.length === 0">No posts</p>
